.hero{
    background: url('../../assets/images/banner-bg.jpg') center center/cover no-repeat;
    border-radius: 20px;
    padding: 85px 50px;
}

.hero-text{
    max-width: 600px;
}

@media (max-width: 767px) {
    .hero-text{
       text-align: center;
    }
}

.hero-text p{
    font-size: 20px;
    margin-bottom: 25px;
}

.hero-text h1{
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .hero-text h1{
        font-size: 35px;
    }
}

.hero-text h1 span{
    color: var(--primary-color)
}

.hero .btn{
    margin: 0;
}

@media (max-width: 767px) {
    .hero .btn{
        margin: 0 auto;
    }
}