.popular-stream-card .card-head {
    position: relative;
    overflow: hidden;
}

.popular-stream-card .card-head img{
    width: 100%;
    border-radius: 25px;
}

.popular-stream-card .card-head .card-buttons .top, .bottom{
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: 0.3s all;
}

.popular-stream-card .card-head .card-buttons .top{
    right: 20px;
    top: -40px;
}

.popular-stream-card .card-head:hover .card-buttons .top{
    top: 20px;
    z-index: 2;
    opacity: 1;
}

.popular-stream-card .card-head .card-buttons .bottom{
    bottom: -20px;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.popular-stream-card .card-head:hover .card-buttons .bottom{
    bottom: 20px;
    z-index: 2;
    opacity: 1;
}

.popular-stream-card .card-head .card-buttons a{
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 4px 10px;
    border-radius: 50px;
    font-size: 14px;
}

.popular-stream-card .card-body{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.popular-stream-card .card-body img{
    border-radius: 50%;
}

.popular-stream-card .card-body .card-subheading svg{
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.popular-stream-card .card-body .card-subheading span{
    color: var(--primary-color);
}

.popular-stream-card .card-body .card-title{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}